
.up{
    color: #80bd01;
}
*{
    padding: 0;
    margin: 0;
}
html,body,#app {
    height: 100%;
    width: 100%;
}

.article{
    margin: 0 !important;
    padding: 0!important;
    height: 100%;
}
.article-header{
    position: fixed;
    top:0;
    background: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    z-index: 99;
}
.article-header h4{
    font-weight: bold;
}
.article-username{
    margin-top:4rem;
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}
.article-username img{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.article-title{
    border-bottom: 1px solid #eee;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.tit{
    text-align: center;
}
.article-content{
    border-bottom: 1px solid #eee;
    padding: 0 0.6rem;
    padding-bottom: 4rem;
}
.article-content img{
    width: 100%;
}
.article-count{
    border-left: 0.5rem solid #80bd01;
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
}


.back{
    float: left;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 1rem;
}
