.create-title{
    margin-top: 5rem;
    width: 100%;
    outline: none;
    border: none;
    height: 3rem;
    border-bottom: 1px solid #eee;
    line-height: 3rem;
    padding: 1rem;
    height: 100%;
}