html {
  background-color: #DDDDDD;
}
html,body,.app {
  height: 100%;
}
.nav{
  height: 40px;
  position: fixed;
  top:0;
  width: 100%;
}
.lists{
  overflow-x:auto;  
  overflow-y:scroll;  
  padding-top:5rem;
  background: #fff;
  padding-bottom: 4rem;
  height: 100%;
}
body,div,span,a,p,ul,li {
  margin: 0;
  /* padding: 0; */
}