.list{
    .author{
        font-size: 12px;
        display: flex;
        height: 4rem;
        a{
            color: black;
            text-decoration: none;
        }
        .author-image img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
}